grafana:
  enabled: true
  adminPassword: admin
  service:
    type: NodePort
    nodePort: 32000

  defaultDashboardsEnabled: true

  additionalDataSources:
    - name: Prometheus
      type: prometheus
      url: http://monitoring-kube-prometheus-prometheus.monitoring:9090
      access: proxy
      isDefault: true

